* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: #fff;
    color: #000;
  }
  
  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
  }
  





  /* Header */
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 20px 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
  }
  








  /* topContent */
  .topContent {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  
  .topContent-left {
    background-color: #222222;
    color: white;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }
  
  .topContent-content {
    max-width: fit-content;
  }
  
  .topContent-content h1 {
    font-size: 80px;
    margin-bottom: 1rem;
  }
  
  .topContent-content p {
    font-size: 50px;
    margin-bottom: 2rem;
  }
  
  .topContent-features {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
  }
  
  .topContent-features li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .topContent-features .icon {
    width: 20px;
    height: 20px;
    stroke: #ffc107;
  }
  
  .topContent-right {
    flex: 1 1 35%;
    position: relative;

  }
  
  .topContent-right img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }
  
  .btn-white {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  .btn-white:hover {
    background-color: #ddd;
  }
  



  .empty {
    height: 100px;
    width: auto;
    background-color: #282829;
  }
  



  /* info */
  .info-block {
    display: flex;
    flex-wrap: wrap;
    background-color: #727272;
    color: white;
  } 
  .info-image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-center {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    text-align: left;
    background-color: #282829;
    
  }
  
  .info-list {
    list-style: none;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .info-list li {
    margin-bottom: 3rem;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
  }
  
  .info-icons {
    margin-right: 12px;
    flex-shrink: 0;

  }

  
  /* Form section */
  .form-section {
    background: #282829;
    padding: 80px 0;
  }
  
  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    max-width: 1597px;
    max-height: 628px;
    background: white;
    border-radius: 10px;
    padding: 5rem;
  }
  
  .form-text {
    flex: 1 1 400px;
  }
  
  .form-text form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-text h2 {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .form-text input[type="text"],
  .form-text input[type="email"] {
  padding: 14px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.form-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  color: #333;
}

.form-checkbox a {
  color: #000;
  text-decoration: underline;
}

.btn-submit {
  padding: 14px 24px;
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.form-image {
  flex: 1 1 250px;
  text-align: center;
}
  .form-image img {
    max-width: 100%;
  }
  
  /* Footer */
  .footer {
    background: #222;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer a {
    color: #ccc;
    text-decoration: none;
    margin-right: 15px;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .hero-content,
    .form-wrapper,
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      display: none;
    }
  }